<div class="auth text-center">

  <loader *ngIf="isLoading"></loader>
  <form [formGroup]="form" (ngSubmit)="submitForm()" 
    *ngIf="!isLoading">

    <!-- Verification Key Input -->
    <div class="form-group text-center">
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text">
            <i class="fa fa-user"></i>
          </span>
        </div>
        <input
          type="text"
          class="form-control"
          formControlName="verificationKey"
          placeholder="Verification Key"
          required
        />
      </div>
      <div class="input-error">
        <div *ngIf="verificationKey.touched && verificationKey.invalid">
          <p *ngIf="verificationKey.errors.required">Verification Key is required.</p>
        </div>
      </div>
    </div>

    <!-- new Password Input -->
    <div class="form-group text-center">
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text">
            <i class="fa fa-lock"></i>
          </span>
        </div>
        <input
          type="password"
          class="form-control"
          formControlName="newPassword"
          placeholder="New Password"
          required
          password
        />
      </div>
      <div class="input-error">
        <div *ngIf="newPassword.touched && newPassword.invalid">
          <p *ngIf="newPassword.errors.required">Password is a required field.</p>
          <p *ngIf="newPassword.errors.minength">Password must have a minimum length of 5.</p>
        </div>
      </div>
    </div>

    <!-- confirm Password Input -->
    <div class="form-group text-center">
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text">
            <i class="fa fa-lock"></i>
          </span>
        </div>
        <input
          type="password"
          class="form-control"
          formControlName="confirmPassword"
          placeholder="Confirm Password"
          required
          password
        />
      </div>
      <div class="input-error">
        <div *ngIf="confirmPassword.touched && confirmPassword.invalid">
          <p *ngIf="confirmPassword.errors.required">Confirm Password is a required field.</p>
        </div>
      </div>
    </div>

    <button class="btn sumitBtn mx-auto" 
      type="submit">      
      <span *ngIf="!isLoading">SUBMIT</span>
      <dots-loader *ngIf="isLoading"></dots-loader>
    </button>
    <div class="authActions">
      <p routerLink="/">Login</p>
      <p>Need Help?</p>
    </div>
  </form>
</div>
