<div class="container-box">
  <div class="auth-wrapper">
    <div class="left text-center">
      <p class="heading">Welcome Back, Please login to your account.</p>
      <div class="varying-wrapper">
        <div class="auth-options" *ngIf="mode==='login'">
          <div class="auth-icons my-2">
            <img class="socialMediaIcons mx-1" src="../../../assets/Images/facebook-circled.png" alt="">
            <img class="socialMediaIcons mx-1" src="../../../assets/Images/linkedin-circled.png" alt="">
          </div>
          <p>-OR-</p>  
        </div>
        <app-auth *ngIf="mode!='forgotPassword'" (mode)="modeUpdated($event)"></app-auth>
        <forgot-password *ngIf="mode==='forgotPassword'"></forgot-password>
      </div>
      <p class="tnc">By signing up, you agree to 
        <span><a href="#">Audit’s Terms and Conditions</a></span> & 
        <span><a href="#">Privacy Policy</a></span>
      </p>
    </div>
    <div class="right text-center">
      <carousel></carousel>
    </div>
  </div>
</div>