<nav class="navbar navbar-expand-md navbar-light bg-light">
  <div class="inner-wrapper left">
    <a class="navbar-brand" href="#">AUDIT</a>
  </div>

  <div class="inner-wrapper center">
    <form class="form-inline">
      <input class="form-control" type="search" (keyup.enter)="searchUpdated()" />
    </form>
  </div>

  
  <div class="inner-wrapper right">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdown" 
              role="button" data-toggle="dropdown" 
              aria-haspopup="true" aria-expanded="false">
            {{userName}}
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">{{userName}}</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#" (click)="logout()">Logout</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
  
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


</nav>