
.myBtn{
  margin: 10px;
  width: auto;
  height: auto;
  padding: 5px 15px;
  font-weight: 500;
  border-radius: 5px;
  background-color: #ff8234;
  color: white;
  border-style: none;
  outline-color: #ff8234;
}

.myBtn:hover{
  opacity: 0.8;
  border-style: none;
}

